.navbar{
background-color:deepskyblue;
color:white;
font-family: Helvetica;
display: flex;


}
#navbar_text{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
    margin-right:10px;
    
   
}


.link{
color: white;

}


.contenedor{
display: flex;
text-align: left;
font-size: 30px;


}
#nosotros{
    margin-right: auto;
}

.tabla{
width: 100%;
text-align: center;
}

#form{
width: 100%;
text-align: center;

}
.mantenimiento{
    font-family: Helvetica;
    font-size: 20px;
justify-content: center;
    
}
#img_mant{
text-align: center;
padding: 10px;
}
.desarrollo{
    text-align: center;
    padding: 10px;
    }
